<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="HFD"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:replace="android:label,android:icon,android:theme">
        <activity android:name=".Contact"></activity>
        <activity android:name=".AboutUs" />
        <activity android:name=".LoginActivity"
                    android:launchMode="singleTop"/>
        <activity android:name=".Invoice" />
        <activity android:name=".DetailsActivity"
                    android:launchMode="singleTop"/>
        <activity android:name=".VerifyMobile" />
        <activity android:name=".MainActivity"
                    android:launchMode="singleTop"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>